/* *{

}
html{

}
.containerHeader{
    /display: block; 
}
header{
    display: flex;
    flex-direction: row;
}
.logoText{
    display: flex;
}

.containerHeader .navHeader{
    grid-column: 5;
    flex-direction: row;
}
.navItem{

}
main{

}
footer{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items:center; 
    color: cornflowerblue;
}
.container{
    display: grid;
    flex-direction: row;
     justify-content: space-between; 
}
.container p{

}

.container .centerText{
    grid-column: 5;
}
.container .nav{
    grid-column: 9;
}
.container .nav {

}
img{
    color: cornflowerblue;
}

 #centerText{
    align-items: center;
    display: flex;
    flex-direction: column;
} */
*{
    box-sizing: border-box;
    
}
.headNav{
    background-color: cornflowerblue;
}
.textHyperlinks,p{
    color: white;
    text-decoration: none;
}
#logoText{
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.imgMain{
    display: flex;
    justify-content: center;
    align-items: center;
/*     margin-top: 10px;
    margin-bottom: 10px; */
}
.item{
    margin: 5px;
}